@model EditDeleteCourseViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form method="post"  enctype="multipart/form-data">
    <input hidden asp-for="Id" />
  

    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input asp-for="Name" type="text" class="form-control">
        </div>
    </div>


    <div class="row mb-3">
        <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control" style="height: 100px"></textarea>
        </div>
    </div>


   


    <div class="row mb-3">
        <label asp-for="Duration" class="col-sm-2 col-form-label">Duration</label>
        <div class="col-sm-10">
            <input asp-for="Duration" type="number" class="form-control">
        </div>
    </div>


    <div class="row mb-3">
        <label asp-for="CourseImage" class="col-sm-2 col-form-label">Thumbnail</label>
        <div class="col-sm-10">
            <input class="form-control" name="CourseImage" type="file" id="imgFile"> <!-- Ensure name is "Thumbnail" -->
        </div>
    </div>

    <div>
        <a asp-action="CreateVideo" asp-route-courseId="@Model.Id" class="btn btn-success">Add Video</a>
    </div>

    </div>
    </div>


    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Save</button>

            <a asp-action="Index" asp-controller="Courses" class="btn btn-danger" style="margin-left: 20px;">Cancel</a>
        </div>
    </div>





</form>