<nav id="navmenu" class="navmenu">
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Index" class="@(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                <i class="fas fa-house-user fs-6  mx-2"></i>Home<br>
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="About" class="@(ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")">
                <i class="fas fa-info fs-6  mx-2"></i>About
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Courses" class="@(ViewContext.RouteData.Values["action"].ToString() == "Courses" ? "active" : "")">
                <i class="fas fa-chalkboard fs-6  mx-2"></i>Courses
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Instructors" class="@(ViewContext.RouteData.Values["action"].ToString() == "Instructors" ? "active" : "")">
                <i class="fas fa-person-chalkboard fs-6  mx-2"></i>Instructors
            </a>
        </li>

       
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

<a class="btn-getstarted" asp-controller="Auth" asp-action="SignIn">SignIn / SignUp</a> 