 <!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>@ViewData["Title"]</h1>
                    <p class="mb-0">@ViewData["TopBody"]</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a asp-action="index">Home</a></li>
                <li class="current">@ViewData["Title"]</li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->