
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="login100-form validate-form h-100">

    <h6 class="text-center text-success">
        A Message With Reset Password Link Has Been Sent To Your Email
    </h6>
    <br />
    <br />
    <br />

    <div class="text-center">
    <a class="txt2" href="https://mail.google.com/mail/u/5/#inbox">Check Your Inbox</a>
    </div>
</div>