@model SignUpViewModel
@{
    ViewData["Title"] = "StudentSignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="StudentSignUp" method="post" class="login100-form validate-form" enctype="multipart/form-data">


	<span class="login100-form-title">
		Student Signup
	</span>


	<partial name="AuthPartialViews/SharedSignUpPartialView" model="Model"></partial>

	<div asp-validation-summary="All" class="text-danger text-center mt-3">
	</div>

	<div class="container-login100-form-btn">
		<input type="submit" value="Signup" class="login100-form-btn" />
	</div>




	



	<div class=" text-center p-t-100 ">

		<span> Already Have An Email ? </span>
		<a class="txt2" asp-action="SignIn">
			Login
			<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
		</a>

	</div>
</form>

